<div class="header">
  <h1>Your Pins</h1>
      <%= link_to ' Add a Pin', new_pin_path, html_options = {class:"fa fa-plus-circle"} %>

</div>
<hr/>
<%= render partial: "shared/pins_list" %>

<div>
 
<hr/>

<h1>User Details</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>